<html>

<head>
    <title>Registration</title>
</head>

<body>
    <div class="container-fluid">
        <form action="/user/add" method="post">
            <div>
                <label>Name: </label>
                <div>
                    <input type="text" name="name">
                </div>
            </div>
            <div>
                <label>Surname: </label>
                <div>
                    <input type="text" name="surname">
                </div>
            </div>
            <div>
                <label>Email: </label>
                <div>
                    <input type="email" name="email">
                </div>
            </div>
            <button>Add user</button>
        </form>
    </div>

</body>

</html>
